body {
    width: 100vw;
    height: 100vh;
    background-color: $dark-cyan;
}

.container {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    overflow: hidden;
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: -25%;
    left: -50%;
    background-image: url("images/bg-pattern-top.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

.container::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 25%;
    left: 50%;
    background-image: url("images/bg-pattern-bottom.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right bottom;
}

.profile-card {
    width: calc(100vw - 3rem);
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.24) 4px 8px 16px;
}

.profile-card__top-background {
    height: min(140px, 200px);
    background-image: url("images/bg-pattern-card.svg");
    z-index: 2;
}

.profile-card__content {
    padding: 0 1rem 1rem;
    text-align: center;
    z-index: 1;
}

.profile-card__content > * {
    z-index: 3;
}

.profile-card__avatar {
    margin-top: -15%;
    border: 5px solid #fff;
    border-radius: 50%;
}

.profile-card__info {
    margin-top: 1rem;
}

.profile-card__name {
    text-transform: capitalize;
}

.profile-card__age {
    color: $dark-grayish-blue;
}

.profile-card__city {
    text-transform: capitalize;
    color: $dark-grayish-blue;
    margin-top: .6rem;
}

.profile-card__stats {
    display: flex;
    justify-content: space-evenly;
    margin-top: 3.4rem;
    text-transform: capitalize;
}

.profile-card__stats strong {
    text-transform: uppercase;
}

.profile-card__stats p {
    margin-top: 0rem;
    color: $dark-grayish-blue;
}

@media screen and (min-width: 480px) {
    .profile-card {
        width: 50%;
    }
}

@media screen and (min-width: 768px) {
    .container::before {
        top: -50%;
        left: 0;
    }

    .container::after {
        top: 50%;
        left: 0;
    }

    .profile-card {
        width: 25%;
    }
}